# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
%matplotlib inline

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [28]:
weather_data = pd.read_csv('Weather Output.csv')


weather_data['Max Temp'] = (((weather_data['Max Temp'] - 273)*9/5) + 32)
weather_data

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,608,Marquard,-28.6645,27.4305,47.714,81,1,6.68,ZA,1635117364
1,0,Port Alfred,-33.5906,26.8910,58.766,76,9,5.22,ZA,1635117125
2,1,Saint George,37.1041,-113.5841,75.938,32,1,0.89,US,1635116885
3,2,Cairns,-16.9167,145.7667,86.216,66,14,2.57,AU,1635116992
4,3,Vaini,-21.2000,-175.2000,79.232,78,20,6.69,TO,1635117130
...,...,...,...,...,...,...,...,...,...,...
550,603,Kholmogory,64.2229,41.6560,32.378,90,40,4.23,RU,1635117362
551,604,Changde,29.0464,111.6783,52.772,69,2,0.50,CN,1635117313
552,605,Nizwá,22.9333,57.5333,77.648,43,1,1.52,OM,1635117158
553,606,Arrondissement du Havre,49.5833,0.3333,57.236,88,90,5.14,FR,1635117363
554,607,Narrabri,-30.3167,149.7833,71.798,29,0,1.79,AU,1635117363

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
# Store 'Lat' and 'Lng' into  locations 
locations = weather_data[["Lat", "Lng"]].astype(float)

# Convert Poverty Rate to float and store
# HINT: be sure to handle NaN values

humidity = weather_data["Humidity"].astype(float)

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [38]:
weather = weather_data.loc[weather_data['Max Temp']>70]
weather = weather.loc[weather['Max Temp']<80]
weather = weather.loc[weather['Cloudiness'] == 0]
weather = weather.loc[weather['Wind Speed'] < 10]

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
109,117,Rosetta,31.4044,30.4164,70.376,69,0,4.10,EG,1635117190
149,162,Vallenar,-28.5708,-70.7581,74.822,32,0,2.02,CL,1635117205
175,190,Makkah al Mukarramah,21.4267,39.8261,79.556,64,0,0.97,SA,1635117215
188,204,Chhor,25.5167,69.7667,75.668,48,0,2.52,PK,1635117220
213,230,Villa Carlos Paz,-31.4241,-64.4978,71.150,31,0,2.79,AR,1635117229
237,257,Santa Fe,-31.6333,-60.7000,73.256,39,0,0.89,AR,1635116775
255,276,Esna,25.2934,32.5540,70.322,36,0,4.74,EG,1635117242
282,309,Morón,-34.6534,-58.6198,73.364,35,0,1.35,AR,1635117191
314,346,Punta Alta,-38.8759,-62.0736,72.248,33,0,9.36,AR,1635117266
351,386,Pasni,25.2631,63.4710,76.640,72,0,0.55,PK,1635117280
417,458,Conde,-7.2597,-34.9075,78.530,83,0,2.57,BR,1635117168
429,473,Paraná,-31.7320,-60.5238,72.788,57,0,3.14,AR,1635117314
554,607,Narrabri,-30.3167,149.7833,71.798,29,0,1.79,AU,1635117363

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure